@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;200;300;400;500;600&display=swap');
body {
  margin: 0;
  font-family: 'Sarabun', sans-serif;
  font-size: 100%


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  font-family: 'Sarabun', sans-serif;
  /* background-color: #F5F5F5; */
  /* width: 100vw; */
}
#root {
  background-color: #FFFFFF;
  /* background: #3C4048; */
  margin: 0;
  /* width: calc( 100vw – 200px ); */
  height: calc( 100vh – 200px );

}
.not-auth{
  background-color: black;
  width: 100vw;
  height: 100vh;
}